* {
  margin: 0;
  padding: 0;
}
*,
* ::after,
::before {
  box-sizing: border-box;
}
body{
    background-image: url(./images/load.jpg);
}
audio{
    position: relative;
    margin-top: 60px;
}
.audio{
    background-color: #f1f2f3;
    border-radius: 0 0 10px 10px;
}
#loading {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 180px;
  background-color: #f1f2f3;
  border-radius: 10px 10px 0 0;
}
.animation-ball {
  margin-top: 200px;
  text-align: center;
  height: 100px;
  width: 300px;
  padding-top: 50px;
}
.ball {
  text-align: center;
  position: relative;
  display: inline-block;
  height: 0px;
  width: 0px;
  vertical-align: middle;
  background-color: rgb(0, 218, 116);
  margin-left: 10px;
  animation-name: load;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.ball1 {
  margin-left: 0;
}

@keyframes load {
  0% {
    height: 10px;
    width: 5px;
    background-color: #5062f1;
  }
  7.5% {
    height: 20px;
    width: 5px;
    background-color: rgb(37, 37, 222);
  }
  15% {
    height: 50px;
    width: 5px;
    background-color: rgb(24, 116, 244);
  }
  25% {
    height: 80px;
    width: 5px;
    background-color: rgb(21, 63, 167);
  }
  50% {
    height: 10px;
    background-color: rgb(81, 0, 255);
  }
  100% {
    height: 10px;
    width: 5px;
    background-color: rgb(47, 31, 221);
  }
}

.ball1 {
  animation-delay: 0s;
}

.ball2 {
  animation-delay: 0.05s;
}
.ball3 {
  animation-delay: 0.1s;
}
.ball4 {
  animation-delay: 0.15s;
}
.ball5 {
  animation-delay: 0.2s;
}
.ball6 {
  animation-delay: 0.25s;
}
.ball7 {
  animation-delay: 0.3s;
}
.ball8 {
  animation-delay: 0.35s;
}
.ball9 {
  animation-delay: 0.4s;
}
.ball10 {
  animation-delay: 0.45s;
}
.ball11 {
  animation-delay: 0.5s;
}
.ball12 {
  animation-delay: 0.55s;
}
.ball13 {
  animation-delay: 0.6s;
}
.ball14 {
  animation-delay: 0.65s;
}
.ball15 {
  animation-delay: 0.7s;
}
.ball16 {
  animation-delay: 0.75s;
}
.ball17 {
  animation-delay: 0.8s;
}
